--- 
layout: default 
title: About Omar AlSabek 
body_class: post-template page-template page page-about page-template-about
---
<article class="page-about post page">
    {% include material-cover.html %}

    <div class="profile-container animated fade-in">
        <div class="profile-image">
            <img src="{{site.avatar}}" alt="Caffeine Coding avatar"
                class="avatar rounded" />
        </div>
        <div class="post-card animated">
            <div class="post-container">
                <div class="post-header">
                    <h1 id="post-title">
                      About Me
                    </h1>
                    {% include social.html %}
                </div>
                <div class="post-content">

                    <h2 id="welcometocaffeinecoding">Welcome to Caffeine Coding!</h2>

                    <p>Welcome to Caffeine Coding, a blog created to share Software Engineering thoughts, stories and ideas.
                        As a young Software Engineer in the Bay Area, I hope to share my notes, journey, and lessons with
                        my fellow yuppies. Although this is primarily targeted to early career engineers, this blog will
                        touch on many topics that are relevant to both new and experienced developers. </p>

                    <p>In this blog you can expect me to discuss code, design practices, developer theory, early career growth,
                        people management, and more! Because this blog is written by a "millennial", my writing style will
                        reflect my personal tone and voice, so please don't take this too seriously!</p>

                    <h2 id="aboutme">About me</h2>

                    <p>My name is <strong>Kelvin</strong> and I am a Software Engineer in the Silicon Valley. I am very early
                        in my career and entered full-time in June 2013 after graduating with a B.S in Information &amp;
                        Computer Science at UC Irvine. As of writing, I am currently a Software Engineer at LinkedIn, with
                        enterprise experience in .NET/C#, Java, NodeJS, and all things front-end related. I also dabble with
                        Android &amp; iOS (Swift) for hobby.</p>

                    <h2 id="opendiscussion">Open Discussion</h2>

                    <p>My goal is to share my experiences, coding practices, and journey with all of you. With that said, there's
                        still a lot I don't know and there's plenty of room for me to learn and grow. Software engineering
                        is a vast, opinionated, standardized, and continuously changing landscape. I may discuss an issue
                        that you don't agree with, write about a topic that may have some errors, or potentially be completely
                        off base with an idea. </p>

                    <p>So please share your thoughts with me! Whether you shoot me an email or write a comment, I am always
                        eager to listen to your thoughts and I hope we can learn from each other. I am not easily offended,
                        so lets have a healthy discussion! </p>

                    <h2 id="contact">Contact</h2>

                    <p>Have any questions? Feel free to shoot me an email at <a href="&#109;a&#x69;&#x6c;&#116;&#x6f;:&#107;&#101;&#108;&#121;&#118;&#105;&#x6e;&#x40;&#99;&#97;&#x66;&#102;&#101;&#105;n&#x65;&#x63;&#x6f;&#100;&#105;&#x6e;&#103;&#46;&#x63;&#111;&#109;">&#107;&#101;&#108;&#121;&#118;&#105;&#x6e;&#x40;&#99;&#97;&#x66;&#102;&#101;&#105;n&#x65;&#x63;&#x6f;&#100;&#105;&#x6e;&#103;&#46;&#x63;&#111;&#109;</a>                        and I'll try to get back to you as quickly as possible.</p>

                    <p>If you also find any bugs, have issues with the user interface, or simply hate some things on the site,
                        feel free to also send me an email or file a new issue for me on <a href="https://github.com/kelyvin/caffeine-theme/issues">Github.</a></p>

                    <p>Want to help me maintain server costs? All donations small or large are much appreciated and will only
                        be used to keep this site online! </p>

                    <div>
                        <a href="https://www.paypal.me/kelyvin" style="margin-right: 20px;" target="_blank"><i class="fa fa-cc-paypal" aria-hidden="true" style="font-size:60px; color:#009cde;"></i>
</a>
<a href="https://cash.me/$KelvinNguyen" style="position:absolute;" target="_blank"><img src="https://s3-us-west-2.amazonaws.com/caffeine-coding-bucket/2016/May/square.svg" style="height:55px;"/></a>
</div>
</div>
</div>
</div>
</div>
</article>