--- 
title: Home Page 
layout: default 
body_class: home-template 
--- 

{% include material-cover.html %}

<div class="page page-tag container-wrapper">
    <div class="tag-header container-wrapper">
        <div class="tags">
            <a id="tago" href="/tag/"></a>
        </div>
    </div>
    <ol class="posts">

        {% for post in site.posts %}
        <li class="card">
            <div class="card-container">
                <div class="card-body">
                    <a href="{{post.url}}#open" title="link to {{post.title}}">
                <div class="material-cover {% if post.image_path %}" style="background-image: url({{post.image_path}}){% else %} no-cover {% endif %}"></div>
<div class="card-content">
    <h2>{{post.title}}</h2>
    <p class="description">{{post.description}} &hellip;</p>
</div>
</a>
</div>
<div class="card-footer">
    <div class="meta">
        <time class="showTime" datetime="{{post.date | date_to_long_string}}">{{post.date}}</time>
        <span class="tags">on &nbsp;{% for tag in post.tags %}<a href="/tag/{{tag}}/">{{tag}}</a> &nbsp;{% endfor %}</span>        - <a href="{{post.url}}#open">Comments</a>
    </div>
    <div class="clear"></div>
</div>
</div>
</li>
{% endfor %}


</ol>
{% include pagination.html %}
</div>


<script>
    function getUrl() {
        var str = document.URL;
        var tag = str.substring(str.lastIndexOf("/tag") + 5, str.lastIndexOf("#") - 1);
        document.getElementById("tago").innerHTML = tag;
        document.getElementById("tago").href = "/tag/"+tag;
    }
    getUrl();
</script>