---
layout: default
---

<article class="{{page.post_class}}">
    {% include material-cover.html %}
    <div class="post-card animated fade-in">
        <a id="back-button" href="{{site.url}}#open" title="Go back" class="hvr-grow">
            <div class="back-button">
                <i class="fa fa-arrow-left"></i>
            </div>
        </a>
        <div class="post-container">
            <div class="post-header">
                <div class="meta">
                    <time class="showTime" datetime="{{page.date | date: " %-d %B %Y "}}">{{page.date}} </time>
                    <span class="tags">on &nbsp;{% for tag in page.tags %}<a href="/tag/{{tag}}/">{{tag}}</a> &nbsp;{% endfor %} </span>
                    <span class="reading-time"> ~ <span></span> read.</span>
                </div>
                <h1 id="post-title">
                    {{page.title}}
                </h1>
                <div class="share">
                    {% include share.html %}
                </div>
            </div>
            <div class="post-content">
                {{content}}
            </div>
            {% include comments.html %}
        </div>
    </div>
    {% include post-pagination.html %}
</article>